.Table {
  display: table;
  margin: auto;
}
.Title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row {
  display: inline;
}
.Cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hover {
  border: 3px dashed rgb(199, 167, 167);
}
.sublist {
  display: table-cell;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.corname {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  font-weight: 300;
}

.row {
  float: left;
}

.table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  color: #212121;
  font-size: medium;
  font-weight: bold;
}
th,
td {
  background-color: #ffffff;
}
